*~
.classpath
.project
.settings/
bin/
target/
consensus/bin/
consensus/target/
consensus/.classpath
consensus/.project
consensus/.settings/
client/bin/
client/target/
client/.classpath
client/.project
client/.settings/
server/bin/
server/target/
server/.classpath
server/.project
server/.settings/
commons/bin/
commons/target/
commons/.classpath
commons/.project
commons/.settings/
